


<section class="clase1">
    <h1>    CHIMI 3D - Impresiones y Diseño 3D  </h1>

    <h3> Trabajamos con insumos nacionales e importados de primera calidad, en impresoras 3D profesionales calibradas diariamente.</h3>

    <p>
        Imprimimos todo tipo de modelos 3D, en diferentes tipos de materiales, tanto <strong>PLA, ABS y hasta Nylon 6 o 12.</strong> 
        Ya sea a partir de un archivo generado en algún software de diseño, contamos con departamento de diseño a partir de planos o escaneo 3D, y también 
        realizamos impresiones de modelos descargados de internet. 
    </p>

    <h2>¿Cómo se realiza una impresión 3D?</h2>

    <p>En primer lugar se debe contar con un archivo <strong>.stl</strong>, este tipo es el que interpreta el programa encargado de configurar las caracteristicas de la impresión a realizar, o mejor conocido como <em>Laminador</em>(Cura, PrusaSlicer). 
        Las configuraciones pueden ser altura de capa, ancho de la misma, etc, y dependen de las especificaciones y requerimientos del pedido de impresión.<br> 
        El laminador genera un archivo <strong>.gcode</strong> , el cual es el encargado de decirle a la impresora 3D como moverse, a que velocidad, en que dirección, con que fuerza, etc.
        Este archivo se puede crear utilizando programas de diseño 3D (Autocad, Fusion 360).<br>
        Una vez obtenido el archivo gcode, se procede a preparar la máquina con el color de filamento a utilzar y se ejecuta el programa.<br>
        Luego de que termine la impresión, hay que retirar la misma de la placa de adhesión y luego se pasa a la etapa de <em>postprocesado</em>, donde se utilizan lijas, resinas y utencillios para mejorar la calidad de impresión.   
    </p>
</section>