<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./css/style.css">
    <script src="../js/callProducts.js" defer></script>
    <title>Productos</title>
</head>


<div class="header">
    <div class="header1"><img src="../img/Logo.jpeg" alt="Logo Tienda"></div>
    <div class="product">
        <a>Nuestros productos</a>
    </div>
    <div class="productinput">
        <input class="productinput1" type="text">
        <button type="productinputsearch"></button>
    </div>      
</div> 


<div class="listaproduct">

</div>