<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>

    <form action=""> 
        <label>Nombre: </label>
        <input type="text">
        <label>DNI: </label>
        <input type="number">
        <label>Asunto: </label>
        <input type="text" placeholder="Ejemplo: Llaveros">
        <label>Email: </label>
        <input type="email">
        <label>Telefono: </label>
        <input type="tel" placeholder="Usar n° de area"><br>
        <textarea placeholder="Dejanos tu comentario"></textarea>
        <button type="submit">Enviar datos</button>
    </form>

</body>
</html>